header, .post:not(:last-child) {
  background-color: rgb(87, 72, 202);
  height: 80px;
}

h1 {
  background-color: rgb(87, 72, 202);
  padding-bottom: 20px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #424242;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #8a8a8a;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

nav {
  font-size: 20px;
}

nav a {
  color: white;
}

a {
  color: rgb(70, 70, 70);
  margin-right: 10px;
  margin-left: 10px;
}

a:hover {
  color: rgb(90, 90, 90);
}

.logout {
  margin-left: 10px;
}

